<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to Project Tracker API</h1>
    {{!-- Add nav bar here --}}
    {{{body}}}
  </body>
</html>
